<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${item.name}">Nazwa dania</title>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <!-- BootStrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="container py-4">
<main class="row g-0">
    <div class="container">
        <div class="col-lg-8 offset-lg-2">
            <img class="image" src="../static/img/pizza-margherita.jpg" th:src="${item.imageUrl}"
                 alt="Pizza Margherita">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <h1 class="text-center" th:text="${item.name}">Pizza Margherita</h1>
                <h3 class="text-center" th:text="|Cena: ${#numbers.formatDecimal(item.price, 0 ,2)} zł|">Cena: 30
                    zł</h3>
                <p class="text-justify" th:text="${item.description}">Pizza supersmaczna i takie tam bla bla bla...</p>
                <div class="d-grid gap-2">
                    <button type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">Dodaj do zamówienia
                    </button>
                    <a type="link" href="#" th:href="@{/}" role="button" class="btn btn-secondary btn-lg btn-block">
                        Powrót do strony głównej</a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="b-example-divider mt-4 mb-2"></div>
    <div class="container">
        <p class="text-center text-muted">&copy; 2022 Przemysław Urban & JavaStart</p>
    </div>
</footer>

</body>
</html>